@using kanban.ViewModels
@model EditarTareaViewModel

@{
    ViewData["Title"] = "Editar Tarea";
}

<form asp-controller="Tarea" asp-action="Editar" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label for="lbl.IdUsuarioPropietario" class="form-label" asp-for="IdUsuarioAsignado">Usuario Propietario:</label>
        @Html.DropDownListFor(model => model.IdUsuarioAsignado, 
                    new SelectList(Model.Usuarios, "Id", "Nombre", Model.IdUsuarioAsignado), 
                    "-- Seleccionar usuario asignado --", 
                    new { @class = "form-select" })
    </div>

    <div class="mb-3">
        <label for="lbl.IdTablero" class="form-label" asp-for="IdTablero">Tablero :</label>
        @Html.DropDownListFor(model => model.IdTablero, 
                    new SelectList(Model.Tableros, "Id", "Nombre", Model.IdTablero), 
                    "-- Seleccionar tablero asignado --", 
                    new { @class = "form-select" })
    </div>

    <div class="form-group">
    <label for="lbl.nombre" asp-for="Nombre">Nombre: </label>
    <input type="text" class="form-control" id="lbl.nombre" asp-for="Nombre">
        <span asp-validation-for="Nombre" class="text-danger"></span>
    
    </div>

    <div class="form-group">
    <label for="lbl.descripcion" asp-for="Descripcion">Descripción: </label>
    <input type="text" class="form-control" id="lbl.descripcion" asp-for="Descripcion">
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    
    </div>

    <div class="form-group">
    <label for="lbl.color" asp-for="Color">Color: </label>
    <input type="text" class="form-control" id="lbl.color" asp-for="Color">
        <span asp-validation-for="Color" class="text-danger"></span>
    
    </div>

    <div class="mb-3">
        <label asp-for="Estado" class="form-label">Estado: </label>
        <select asp-for="Estado" class="form-control">
            <option value="">-- Seleccione un Estado --</option>
            @foreach (var Estado in Enum.GetValues(typeof(EstadoTarea)))
            {
                <option value="@Estado">@Estado</option>
            }
        </select>
        <span asp-validation-for="Estado" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Editar</button>
</form>