@using kanban.ViewModels
@model CrearTareaViewModel

<form asp-controller="Tarea" asp-action="Crear" method="post">
    <input type="hidden" name="boardId" value="@Model.IdTablero" />

     <div class="mb-3">
        <label for="lbl.IdUsuarioPropietario" class="form-label" asp-for="IdUsuarioAsignado">Usuario Propietario:</label>
        @Html.DropDownListFor(model => model.IdUsuarioAsignado, 
                    new SelectList(Model.Usuarios, "Id", "Nombre", Model.IdUsuarioAsignado), 
                    "-- Seleccionar usuario asignado --", 
                    new { @class = "form-select" })
    </div>

    <div class="mb-3">
        <label for="lbl.nombre" class="form-label" asp-for="Nombre">Nombre: </label>
        <input type="text" class="form-control" id="lbl.nombre" asp-for="Nombre">
    </div>

    <div class="mb-3">
        <label for="lbl.descripcion" class="form-label" asp-for="Descripcion">Descripción: </label>
        <input type="text" class="form-control" id="lbl.descripcion" asp-for="Descripcion">
    </div>

    <div class="mb-3">
        <label for="lbl.color" class="form-label" asp-for="Color">Color: </label>
        <input type="text" class="form-control" id="lbl.color" asp-for="Color">
    </div>

    <div class="mb-3">
        <label for="lbl.Estado" class="form-label" asp-for="Estado">Estado: </label>
        <input type="text" class="form-control" id="lbl.Estado" asp-for="Estado">
    </div>


    <button type="submit" class="btn btn-primary">Crear</button>
</form>