@{
    ViewData["Title"] = "Perfil";
}

@using kanban.ViewModels
@model UsuarioDropBoxViewModel

<h2>Mi Perfil</h2>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Bienvenido, @Model.Nombre</h5>
        <div class="row">
            <div class="col-md-6">
                <a asp-controller="Tarea" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-info btn-block">Ver Mis Tareas</a>
            </div>
            <div class="col-md-6">
                <a asp-controller="Usuario" asp-action="Editar" asp-route-id="@Model.Id" class="btn btn-primary btn-block">Editar Perfil</a>
            </div>
        </div>
    </div>
</div>
